{% load static %}


<footer>
    <ul class="social-networks">
        <li><a href="https://www.facebook.com/ChristopheArleston/?locale=fr_FR" target=" _blank" rel="noopper"
                aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook" class="social-icon"></i></a>
            </li>
        <li> <a href="https://twitter.com/" target=" _blank" rel="noopper"
                aria-label="Visit our twitter page (opens in a new tab)"><i class="fa-brands fa-twitter" class="social-icon"></i></a>
        </li>
        <li> <a href="https://youtube.com/" target=" _blank" rel="noopper"
                aria-label="Visit our youtube page (opens in a new tab)"><i class="fa-brands fa-youtube" class="social-icon"></i></a>
        </li>
        <li> <a href="https://www.instagram.com/christophe_arleston/?hl=fr" target=" _blank" rel="noopper"
                aria-label="Visit our instagram page (opens in a new tab)"><i class="fa-brands fa-instagram" class="social-icon"></i></a>
        </li>
    </ul>
</footer>





 <!-- font awesone script-->
 <script src="https://kit.fontawesome.com/6324a26f04.js" crossorigin="anonymous"></script>